<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
                        {% with messages = get_flashed_messages() %}
                        {% if messages %}

                        {{ messages[0] }}

                        {% endif %}
                        {% endwith %}
<h1>registration</h1>

<form method="post" action="/registration">
    {{ form.csrf_token }}
    {{ form.name.label }}
    {{ form.name }}

    {% for error in form.name.errors %}
        {{ error }}
    {% endfor %}

    {{ form.email.label }}
    {{ form.email }}

    {% for error in form.email.errors %}
        {{ error }}
    {% endfor %}

    {{ form.password.label }}
    {{ form.password }}

    {% for error in form.password.errors %}
        {{ error }}
    {% endfor %}


    {{ form.confirm.label }}
    {{ form.confirm }}

    {% for error in form.confirm.errors %}
        {{ error }}
    {% endfor %}


    <input type="submit">

</form>

</body>
</html>