{% extends 'base.html' %}

{% block body %}


<h1>Todo Manager</h1>

<table>
    <tr>
        <td>Todo</td>
        <td>Added</td>
        <td>Actions</td>
    </tr>

    {% for task in todo_tasks %}
    <tr>
        <td>{{ task.content }}</td>
        <td>{{ task.date_added.date() }}</td>
        <td>
            <a href="/delete/{{ task.id }}">Delete</a>
            <a href="/update/{{ task.id }}">Update</a>
        </td>
    </tr>
    {% endfor %}


</table>
<form action="/" method="POST">
    <input type="text" name="task_content" id="task_content" />
    <input type="submit" value="submit">
</form>

{% endblock body %}
